@{
    ViewBag.Title = "Admin";
}


<div class="row">
    <div class="col-md-4">
        <div class="squaremenu">
            <h2>User Access Rights</h2>
            <p><a class="btn btn-default btn-lg" href="/home/useraccessrights">Go&raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="squaremenu">
            <h2>Add Scorecard</h2>
            <p><a class="btn btn-default  btn-lg" href="/score/newscorecard">Go &raquo;</a></p>
        </div>
    </div>
</div>


