@{
    ViewBag.Title = "Main Menu";
}

<div class="jumbotron">
    <div class="container">
        <h1>Scorecard - Main Menu</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="squaremenu">
            <h2>Score a Call</h2>
            <p><a class="btn btn-default btn-lg" href="/score/score">Go&raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="squaremenu">
            <h2>Get Results</h2>
            <p><a class="btn btn-default  btn-lg" href="/score/results">Go &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="squaremenu">
            <h2>Create Scorecard</h2>
            <p><a class="btn btn-default btn-lg" href="/score/newscorecard">Go &raquo;</a></p>
        </div>
    </div>
</div>